<div fxLayout="row">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="product.available">En stock: {{product.quantity}}</p>
                <p *ngIf="!product.available">Producto no disponible</p>
                <h3>Precio: {{product.price.formatted()}}</h3>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="accent" [disabled]="!item_to_buy.available_to_remove()" (click)="item_to_buy.remove(1)"><mat-icon>remove</mat-icon></button>
                {{item_to_buy.quantity}}
                <button mat-icon-button color="accent" [disabled]="!item_to_buy.available_to_add()" (click)="item_to_buy.add(1)"><mat-icon>add</mat-icon></button>
                <button mat-raised-button color="primary" [disabled]="!item_to_buy.available_to_buy()" (click)="add_to_cart()"><mat-icon>add_shopping_cart</mat-icon>Agregar al carrito</button>
            </mat-card-actions>
        </mat-card>                
    </div>
</div>