<div *ngIf="category">
  <div class="search-wrapper">
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Buscar en {{category.name}}...</mat-label>
          <input matInput [(ngModel)]="filter.name">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="33">
        <mat-form-field appearance="outline">
          <mat-label>Stock mínimo</mat-label>
          <input matInput type="number" [(ngModel)]="filter.minimum_quantity">
        </mat-form-field>
      </div>
      <div fxFlex="33">
        <mat-form-field appearance="outline">
          <mat-label>Precio mínimo</mat-label>
          <input matInput type="number" [(ngModel)]="filter.min_price">
        </mat-form-field>
      </div>
      <div fxFlex="33">
        <mat-form-field appearance="outline">
          <mat-label>Precio máximo</mat-label>
          <input matInput type="number" [(ngModel)]="filter.max_price">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="column" fxLayout.gt-lg="row" fxLayoutAlign.gt-lg="space-around center">
      <div fxFlex="noshrink" fxFlex.gt-lg="48">
        <mat-form-field appearance="outline" id="SortInputField">
          <mat-label>Ordenar por</mat-label>
          <mat-select [(ngModel)]="sort.current">
            <mat-option *ngFor="let op of sort.options" [value]="op.value">{{op.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="accent" matTooltip="Invertir orden" (click)="revert_sort()"><mat-icon>swap_vert</mat-icon></button>
      </div>
      <div fxFlex fxFlex.gt-lg="48">
        <mat-checkbox [(ngModel)]="filter.onlyAvailable">Mostrar sólo productos disponibles</mat-checkbox>
      </div>
    </div>
  </div>
  <br />
  <app-product-detail *ngFor="let product of shownProducts()" [product]="product" (buy)="add_to_cart($event)"></app-product-detail>
  <p *ngIf="shownProducts().length == 0">
    No hay productos para mostrar.
  </p>
</div>