<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" id="app">
  <div fxFlex="22" fxFlex.lt-md="noshrink">
    <app-categories-list (set_category)="set_category($event)"></app-categories-list>
  </div>
  <div fxFlex="44" fxFlex.lt-md="noshrink">
    <app-product-list [cart]="cart" [category]="category"></app-product-list>
  </div>
  <div fxFlex="30" fxFlex.lt-md>
    <app-cashout [cart]="cart"></app-cashout>
  </div>
</div>