<h2><mat-icon>shopping_cart</mat-icon>Tu carrito</h2>
<div *ngIf="cart.items.length > 0">
    <div *ngFor="let item of cart.items">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="grow">
                <div fxFlex="grow">
                    <button mat-icon-button color="accent" (click)="cart.remove(item)"><mat-icon>delete</mat-icon></button>
                    {{item.product.name}}
                </div>
                <div fxFlex="noshrink">
                    <button mat-icon-button color="accent" [disabled]="!item.available_to_remove()" (click)="remove_one_in(item)"><mat-icon>remove</mat-icon></button>
                    {{item.quantity}}
                    <button mat-icon-button color="accent" [disabled]="!item.available_to_add()" (click)="add_one_in(item)"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <div fxFlex="noshrink">
                {{item.subtotal().formatted()}}
            </div>
        </div>
        <hr />
    </div>
    <h4>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="grow">
                <b>Total:</b>
            </div>
            <div fxFlex="noshrink">
                <b>{{cart.total().formatted()}}</b>
            </div>
        </div>
    </h4>
</div>
<div *ngIf="cart.items.length == 0">
    <p>Tu carrito está vacío.</p> 
</div>