<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let category" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <button mat-button class="opener-button" color="primary" (click)="changeCurrentCategory(category)">
            <mat-icon>chevron_right</mat-icon>
            {{category.name}}
        </button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let category; when: hasSublevels" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(category) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
        </button>
        {{category.name}} ({{category.sublevels}})
    </mat-tree-node>
</mat-tree>