@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/theming';

@include mat-core();

$baraton-primary: mat-palette($mat-deep-orange, 300);
$baraton-accent: mat-palette($mat-pink, 600);
$baraton-warn: mat-palette($mat-red, 600);
$baraton-theme: mat-light-theme($baraton-primary, $baraton-accent, $baraton-warn);

@include angular-material-theme($baraton-theme);

body {
    margin: 0;
    font-size: 16px;
    line-height: calc(16px * 1.5);
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }